<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Before The Daisies</h1>


<div class="well" >
  <div class="embed-responsive embed-responsive-4by3">
    <iframe width="420" height="315" controls class="embed-responsive-item" src="https://www.youtube.com/v/nVnI0jS9BJU?version=3&loop=1&playlist=nVnI0jS9BJU&autoplay=1" frameborder="0" allowfullscreen>
    </iframe>
  </div>
</div>





    <p><p class="bg-primary"><a img="https://openclipart.org/detail/219387/flower-daisy"><img src="https://openclipart.org/download/219387/1432420523.svg" IMG HEIGHT="60" WIDTH="#100" SRC="image.gif"/></a>Harold M. in Las Vegas Nevada wants to go to a Kenny G concert.</p></p>
    
    <p><p class="bg-info"><a img="https://openclipart.org/detail/219387/flower-daisy"><img src="https://openclipart.org/download/219387/1432420523.svg" IMG HEIGHT="60" WIDTH="#100" /></a> Hector P. in Salt Lake City Utah would love to challenge Lance Armstrong to a bike race.</p></p>
     <p><p class="bg-primary"><a img="https://openclipart.org/detail/219387/flower-daisy"><img src="https://openclipart.org/download/219387/1432420523.svg" IMG HEIGHT="60" WIDTH="#100" SRC="image.gif"/></a>Bobby B. from Detroit Michigan is currently on his way to sit in the audience of the Price Is Right.</p></p>
    
    <p><p class="bg-info"><a img="https://openclipart.org/detail/219387/flower-daisy"><img src="https://openclipart.org/download/219387/1432420523.svg" IMG HEIGHT="60" WIDTH="#100" /></a> William D. from Baltimore Maryland just started his journey across the United States in a rabbit powered wagon.</p></p>
    

  </div>
</div>



