
<body class='img'>
<h1 class="new_text">Editing Item</h1>

<%= render 'form' %>
<br>


<%= link_to 'Show', @item %> |
<%= link_to 'Back', index_path %>
<%= link_to '<button type="button" class="btn">Back</button>'.html_safe, items_path %>
</body>

 