<h1>Features</h1>

<ul>
  <li>Create an accout and connect with your friends.</li>
  <li>Fill out the item form to start filling up your bucket.</li>
  <li>Rate the item in order of importance 1 being not important and 10 being extremely important</li>
  <li>Users can delete or modify the item created.</li>
  <li>Users can check the box of the item once it is completed.</li>
</ul>